<% if @todo_item.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @todo_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form.label :content %>
<%= form.text_field :content %><br><br>
<%= form.label :deadline %>
<%= form.datetime_select :deadline, :default => 3.days.from_now %><br><br>
<%= form.label :tag_list %>
<%= form.text_field :tag_list %><br><br>
<%= form.submit "Save", id: "save-todo-item"  %>

