<section id="todo_lists">
  <ul>
    <li>
      <%= link_to "#{@todo_list.title}", todo_list_path(@todo_list) %>
      <%= link_to raw("<i class='fa fa-pencil-square-o edit'></i>"), edit_todo_list_path(@todo_list) %>
    </li>
  </ul>
</section>
<section id="todo_items">
  <div class="todo_item_form">
    <h1><%= @todo_item.content %></h1>
    <%= form_for [@todo_list, @todo_item] do |form| %>
      <%= render partial: form %>
    <% end %>
  </div><br><br>
  <%= button_to 'Delete TodoItem', todo_list_todo_item_path(@todo_item.todo_list_id, @todo_item), method: :delete, data: { confirm: 'Are you sure?' }, id: "delete-todo-item", class: "danger" %>
</section>

