<h1><%= @todo_list.title %></h1>

<table class="todo_items">
  <table class="todo_items">
  <thead>
    <tr>
      <th width="15%">Completed?</th>
      <th width="30%">Content</th>
      <th width="20%">Tags</th>
      <th width="25%">Deadline</th>
      <th width="10%">Functions</th>
    </tr>
  </thead>
  <tbody>
  <% @todo_items.each do |todo_item| %>
  <tr id="<%= dom_id(todo_item) %>">
    <td>
      <% if todo_item.completed? %>
        <%= todo_item.completed_at %>
      <% else %>
        <%= link_to "Mark Complete", complete_todo_list_todo_item_path(@todo_list, todo_item), { method: :patch, id: "mark-complete-link" } %>
      <% end %>
    </td>

    <td class="<%= 'urgent' if todo_item.urgent?%>">
      <%= todo_item.content %>
    </td>

    <td>
      <%= todo_item.tag_list %>
    </td>

    <td>
      <%= todo_item.deadline.strftime('%d-%m-%Y %H:%M') %> 
    </td>

    <td>
      <%= link_to "Edit", edit_todo_list_todo_item_path(@todo_list, todo_item), id: "edit-todo-item-link"  %>
      <%= link_to "Delete", todo_list_todo_item_path(@todo_list, todo_item), method: :delete, data: { confirm: "Are you sure?" }, id: "delete-todo-item-link"  %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>

<p>
  <%= link_to "New Todo Item", new_todo_list_todo_item_path(@todo_list), id: "new-todo-item-link" %>
</p>

<p>
  <%= link_to 'Edit Todo List', edit_todo_list_path(@todo_list) %> | 
  <%= link_to 'Back to todo lists', todo_lists_path %>
</p>