<h1><%= @todo_list.title %></h1>

<table class="todo_items">
  <thead>
    <tr>
      <th width="15%">Completed?</th>
      <th width="30%">Content</th>
      <th width="20%">Tags</th>
      <th width="25%">Deadline</th>
      <th width="10%">Functions</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'todo_items' %>
  </tbody>
</table>

<p>
  <%= link_to "New Todo Item", new_todo_list_todo_item_path(@todo_list), id: "new-todo-item-link" %>
</p>

<p>
  <%= link_to 'Edit Todo List', edit_todo_list_path(@todo_list) %> |
  <%= link_to 'Back to todo lists', todo_lists_path %>
</p>

<p><%= link_to 'Invite another User to this TodoList', new_todo_list_invitation_path(@todo_list), id: "new-invitation-link" %></p>
