<section id="todo_lists">
  <ul>
    <li>
      <%= link_to "#{@todo_list.title}", todo_list_path(@todo_list) %>
      <%= link_to raw("<i class='fa fa-pencil-square-o edit'></i>"), edit_todo_list_path(@todo_list) %>
    </li>
  </ul>
</section>

<section id="todo_items">
  <%= link_to image_tag("glyphicons_edit.png"), edit_todo_list_todo_item_path(@todo_list, @todo_item), id: "edit-todo-item" %><br>
  <p> TodoItem: <%= @todo_item.content %> </p>
  <p>
    Deadline:
    <% if @todo_item.deadline.present? %>
      <%= @todo_item.deadline.strftime('%d-%m-%Y %H:%M') %>
    <% else %>
      -
    <% end %>
  </p>
  <p>
    Tags:
    <% unless @todo_item.tag_list.blank? %>
      <%= @todo_item.tag_list %>
    <% else %>
      -
    <% end %>
  </p>
  <%= button_to 'Delete TodoItem', todo_list_todo_item_path(@todo_item.todo_list_id, @todo_item), method: :delete, data: { confirm: 'Are you sure?' }, id: "delete-todo-item", class: "danger" %> </br>
</section>







