<li class="<%= 'urgent' if todo_item.urgent?; 'completed' if todo_item.completed? %>" data-id="<%= todo_item.id %>">
  <%= render :partial => 'item_details', locals: { todo_item: todo_item } %>

  <div class="for-checkbox">
    <%= check_box_tag "", todo_item.id, todo_item.completed?, class: "checkbox-completed", id: "checkbox-#{todo_item.id}", autocomplete:"off" %>
    <label for="checkbox-<%= todo_item.id %>"></label>
  </div>

  <div class="border">
    <div class="for-item <%= 'with-deadline' if todo_item.deadline.present? %>">
      <%= todo_item.content %>
      <div class="deadline <%= 'urgent' if todo_item.urgent? %>">
        <%= todo_item.deadline.strftime('%d/%m/%Y %H:%M') if todo_item.deadline.present?%>
      </div>
    </div>

    <div class='for-glyphicons'>
      <i class='fa fa-info-circle show'></i>
    </div>
  </div>
</li>


