<li class="<%= 'urgent' if todo_item.urgent?; 'completed' if todo_item.completed? %>">
  <div class='details'>
    <div class='content'><%= todo_item.content %> </div>
    <%= form_for [todo_item.todo_list, todo_item] do |form| %>
      <table>
        <tr>
          <td class='labels'>content</td>
          <td><%= form.text_field :content %></td>
        </tr>
        <tr>
          <td class='labels'>deadline</td>

          <td><%= form.text_field :date, class: "datepicker", id: "datepicker_#{todo_item.id}", placeholder: "dd/mm/yy" %>
          <div class='hour'><%= form.text_field :hour, placeholder: " h" %>:<%= form.text_field :minutes, placeholder: " m" %></td></div>
        </tr>
        <tr>
          <td class='labels'>tags</td>
          <td><%= form.text_field :tag_list %></td>
        </tr>
      </table>
      <%= form.submit "Done", id: "save-todo-item"  %>
    <% end %>
  </div>

  <div class="for-checkbox">
    <%= check_box_tag "", todo_item.id, todo_item.completed?, class: "checkbox-completed", id: "checkbox-#{todo_item.id}" %>
    <label for="checkbox-<%= todo_item.id %>"></label>
  </div>

  <div class="border">
    <div class="for-item <%= 'with-deadline' if todo_item.deadline.present? %>">
      <%= todo_item.content %>
      <div class="deadline <%= 'urgent' if todo_item.urgent? %>">
        <% if todo_item.deadline.present? %>
          <%= todo_item.deadline.strftime('%d/%m/%Y %H:%M') %>
        <% end %>
      </div>
    </div>

    <div class='for-glyphicons'>
      <i class='fa fa-info-circle show'></i>
    </div>
  </div>
</li>


