<div id='title-plus-edit'>
  <div id="title">
    <%= @todo_list.title %>
  </div>
  <i class='fa fa-plus-square-o' id='new-item'></i>
</div>
<ul>
  <div id='show-completed'><%= @todo_items_complete.count %> Completed</div>
  <div id="completed" class='invisible'>
    <% @todo_items_complete.each do |todo_item| %>
      <%= render :partial => "item_li", locals: { todo_item: todo_item } %>
    <% end %>
  </div>

  <div id="incomplete">
    <% @todo_items_incomplete.each do |todo_item| %>
        <%= render :partial => "item_li", locals: { todo_item: todo_item } %>
    <% end %>

    <li id="for-item">
      <div id="form-for-item" class="invisible">
        <%= form_for [@todo_list, TodoItem.new] do |f| %>
          <%= f.text_field :content, class: "text-field-in-list" %>
          <%= f.submit "Add new TodoItem", class: "invisible" %>
        <% end %>
      </div>
    </li>
  </div>
</ul>
