<section id="todo_lists">
  <ul>
    <li>
      <%= link_to "#{@todo_list.title}", todo_list_path(@todo_list) %>
      <%= link_to raw("<i class='fa fa-pencil-square-o edit'></i>"), edit_todo_list_path(@todo_list) %>
    </li>
  </ul>
</section>

<section id="todo_items">
  <h3>Editing TodoList</h3>
  <%= render 'form' %>
  <br>
  <%= link_to 'Cancel', todo_list_path(@todo_list), id: "cancel" %>
  <%= button_to 'Delete TodoList', @todo_list, method: :delete, data: { confirm: 'Are you sure?' }, id: "delete-todo-list", class: "danger" %> </br>
</section>





