<ul class="todo_lists">
  <% @todo_lists.each do |todo_list| %>
    <li id="todo_list_<%= todo_list.id %>">
      <%= link_to todo_list.title, todo_list_todo_items_path(todo_list) %>
      <%= link_to 'Edit', edit_todo_list_path(todo_list), class: "edit-todo-list" %>
    </li>
  <% end %>
  <li>
    <%= form_for :todo_list, url: { action: "create" } do |f| %>
      <%= f.text_field :title %>
      <%= f.submit "Add new TodoList" %>
    <% end %>
  </li>

</ul>

<br>


<p><%= button_to 'Send Reminder', { action: :send_reminder} , id: "send-reminder"  %></p>
