<section id="todo_lists">
  <ul>
    <% @todo_lists.each do |todo_list| %>
      <li>
        <%= link_to todo_list.title, todo_list_path(todo_list) %>
        <%= link_to image_tag("glyphicons_edit.png"), edit_todo_list_path(todo_list), class: "edit" %>
      </li>
    <% end %>
    <li class='invisible' id="new-list-form">
      <%= form_for TodoList.new do |f| %>
        <%= f.text_field :title, class: "text-field-in-list" %>
        <%= f.submit "Add new TodoList", class: "invisible" %>
      <% end %>
    </li>
  </ul><br><br>

  <div id="new-list"><img src='assets/circle_plus.png'> </div>
</section>

<section id="todo_items">
</section>


