<section id="todo_lists">
  <ul>
    <% @todo_lists.each do |todo_list| %>
      <li>
        <%= link_to todo_list.title, todo_list_path(todo_list) %>
        <%= link_to raw("<i class='fa fa-pencil-square-o edit'></i>"), edit_todo_list_path(todo_list) %>
        <i class="fa fa-rss share"></i>
      </li>
    <% end %>
    <li class='invisible' id="new-list-form">
      <%= form_for TodoList.new do |f| %>
        <%= f.text_field :title, class: "text-field-in-list" %>
        <%= f.submit "Add new TodoList", class: "invisible" %>
      <% end %>
    </li>
  </ul><br><br>

  <div id="new-list">
    <i class="fa fa-plus-circle"></i><div id="add-list"> Add List</div>
  </div>
</section>

<section id="todo_items">
<p></p>
</section>


