<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</p>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %>
    <% if @user.email && @token %>
      <%= @user.email %>
      <%= f.hidden_field :email, value: @user.email %>
      <%= hidden_field_tag "invitation_token", params[:invitation_token] %>
      <%= hidden_field_tag "todo_list_id", params[:list] %>
    <% else %>
      <%= f.text_field :email %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Password (again)" %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit "Sign Up", class: 'button' %>
  </div>
<% end %>


