<section id="todo_lists">
  <div id='welcome'>Welcome to TodoListMVC!</div>
</section>

<section id="todo_items">
<%= form_tag user_sessions_path do %>
  <div class='field'>
    <%= label_tag :email, "Email Address" %>
    <%= text_field_tag :email, params[:email] %>
  </div>

  <div class='field'>
    <%= label_tag :password, "Password" %>
    <%= password_field_tag :password %>
  </div>

  <div class="field">
    <%= submit_tag "Log In", class: 'button' %>
  </div>

  <%= link_to "Forgot password?", new_reset_password_path, id: 'forgot-password' %>
<% end %>
</section>

