<!DOCTYPE html>
<html>
<head>
  <title>TodoListsMVC</title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div id='wraper'>
    <header>
      <div id="nav">
        <ul>
          <% if current_user %>
            <li><%= link_to link_to image_tag("logout.png", {id:"logout"}), user_sessions_path, method: :delete, id: "log-out-link" %></li>
            <li><%= link_to "#{current_user.email}", edit_user_path(current_user), id: "edit-user-link" %></li>
          <% else %>
            <li><%= link_to "Sign Up", new_user_path, id: "sign-up-link" %></li>
            <li><%= link_to "Log In", new_user_sessions_path, id: "log-in-link" %></li>
          <% end %>
        </ul>
      </div></br>
      <h2><i><%= link_to "TodoListMVC", root_path %></i></h2>
    </header>

    <section id='main'>

      <%= yield %>

    </section>
    <br><br>

    <footer>
      <i> page made by mon </i>
    </footer>

  <!-- <div class="nav">
    <h1><%= link_to "TodoList", root_path %></h1>
    <ul>
      <% if current_user %>
        <li><%= link_to "Todo Lists", todo_lists_path %></li>
        <li><%= link_to "#{current_user.email}", edit_user_path(current_user), id: "edit-user-link" %></li>
        <li><%= link_to "Log Out", user_sessions_path, method: :delete, id: "log-out-link" %></li>
      <% else %>
        <li><%= link_to "Sign Up", new_user_path, id: "sign-up-link" %></li>
        <li><%= link_to "Log In", new_user_sessions_path, id: "log-in-link" %></li>
      <% end %>
    </ul>
    <br class="clear" />
  </div>

  <% flash.each do |type, message| %>
  <div class="alert flash <%= type %>">
    <%= message %>
  </div>
  <% end %>
  -->

  </div>
</body>
</html>
